// Customize the label (the container)
.chkContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    // Hide the browser's default checkbox
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        // When the checkbox is checked, add a blue background
        &:checked ~ .checkmark {
            box-shadow: 0 0 3px 2px $color-gray-2;

            // Show the checkmark when checked
            &::after {
                display: block;
                left: 8px;
                top: 4px;
                width: 5px;
                height: 10px;
                border: solid $color-white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
        }
    }

    // Create a custom checkbox
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: $color-2a;

        // Create the checkmark/indicator (hidden when not checked)
        &::after {
            content: "";
            position: absolute;
            display: none;
        }

    }
}