.info {
    margin-top: 100px;
    .info__content {
        padding: 0 30px;
        p, span {
            font-size: 13px;
        }
        .info__fuel {
            margin-bottom: 30px;
            .spacer {
                display: inline-block;
                width: 20px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .info {
        .info__content {
            .info__fuel {
                .spacer {
                    width: 35px;
                }
            }
        }
    }
}