.verticalMenu {
    #menuRight {
        position: fixed;
        z-index: 999999;
        top: 35%;
        left: 100%;
        width: 300px;
        transform: translateX(-42px);
        .menuRight__inner {
            cursor: pointer;
            list-style: none;
            .menuRight__item {
                background-color: #141414;
                padding: 10px 0;
                margin-bottom: 1px;
                transition: transform 0.5s ease-out;
                &:hover {
                    transform: translateX(-230px);
                }
                .menuRight__link {
                    color: $color-white;
                    text-decoration: none;
                    .menuRight__icon {
                        font-size: 20px;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}