.carousel {
    padding-top: 50px;

    .carousel-inner {
        height: 720px;
    }

    @include background();
    .carousel-item {
        .topSlider__detail {
            top: 50px;
            left: 10%;
            text-align: left;
            .toggleCaption {
                font-size: 40px;
                font-weight: 100;
                line-height: 44px;
                width: 45%;
                margin-bottom: 0;
                animation-delay: 1s;
                &::before {
                    content: "";
                    background: $color-white;
                    display: block;
                    height: 2px;
                    margin-bottom: 25px;
                    margin-top: 0;
                    width: 60px;
                }
            }
            .captionTextDark {
                color: $color-black;
                &::before {
                    background: $color-black;
                }
            }
            .toggleButton {
                margin-top: 25px;
                animation-delay: 2s;
                .topSlider__link {
                    border-radius: 0;
                }
            }
            .toggleDetail {
                font-size: $fs-13;
                position: absolute;
                width: 45%;
                text-align: left;
                margin-top: 25px;
                padding-left: 15px;
                left: 0;
                bottom: 0;
                animation-delay: 2s;
            }
            .toggleDark {
                color: $color-black;
            }
        }
    }
    .carousel__search {
        background-color: #141414;
        padding: 30px 0;
        .input-group {
            .form-control {
                box-shadow: none;
                border-color: $color-white;
                border-radius: 0;
                padding: 5px 10px;
                background-clip: unset;
            }
            .input-group-append {
                .input-group-text {
                    background-color: $color-white;
                    border-color: $color-white;
                    border-radius: 0;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 10%;
        .fa {
            font-size: 38px;
            color: $color-white;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .carousel {
        .carousel-item {
            .topSlider__detail {
                .toggleCaption {
                    width: 90%;
                }
                .toggleDetail {
                    width: 90%;
                }
            }
        }
    }
}